img {
    width: 100%;
    height: 50%;
}

.cards-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  
}

article{
  width: calc((80% / 5 ) - 4rem);
  margin-right: 2rem;
}

main{
  background-color: #303030;
}
