header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

li{
    margin-right: 2rem;
    font-size: 20px;
   
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

img{
    margin-left: 10rem;
}
